<div class="jumbotron">
    <h2>
        Hi all, I'm Anjani
        <span class="wave-emoji">
            <img alt="👋" draggable="false" src="https://twemoji.maxcdn.com/2/72x72/1f44b.png"
                style="height: 1em; width: 1em; margin: 0px 0.05em 0px 0.1em; vertical-align: -0.1em;">
        </span>
    </h2>
    <p>
        A passionate Front end Software Developer having an experience<br> of designing and building Web applications
        with JavaScript / Angular8<br> and some other cool libraries and frameworks 🚀.
    </p>

    <!-- <p>
        This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supportin<span>g pieces of content. Use it as a starting point to create something more unique.</span><img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded-circle cc_cursor">
    </p> -->
    <p>
        <a href="https://drive.google.com/file/d/1NAfre8ZPpk99ZdrU9TgoCNIjPd6iwSbf/view?usp=sharing" type="button"
            class="btn btn-outline-warning">
            Resume
        </a>
    </p>
    <div class="img-vector">
        <img src="https://media.tenor.com/images/969d985c3d7bb8aa78f0999c34a3e9c5/tenor.gif" alt="" height="250" width="400">
        <img src="https://media.tenor.com/images/3e873e2f6375c0b9a24a120c453850fe/tenor.gif" alt="" height="250"
            width="400">
    </div>
</div>

<app-card></app-card>